{{!-- Can DEFINITELY be combined into single card once I decide on actual list layout. Easily. --}}
{{#link-to "comics.show" comic}}
    <img src="{{comic.thumbnail.cardLarge}}" alt="">
    <h2>{{comic.title}}</h2>
{{/link-to}}