<span class="previous">
    &nbsp;
    {{#if isPrevious}}
        {{#unless disabled}}
            {{#link-to routeName (query-params offset=prevOffset)}} &lt; Previous{{/link-to}}
        {{else}}
            &lt; Previous
        {{/unless}}
    {{/if}}
</span>
<span class="current">
    {{currentPage}} of {{totalPages}}
</span>
<span class="next">
    &nbsp;
    {{#if isNext}}
        {{#unless disabled}}
            {{#link-to routeName (query-params offset=nextOffset)}}Next &gt;{{/link-to}}
        {{else}}
            Next &gt;
        {{/unless}}
    {{/if}}
</span> 