{{!-- Can DEFINITELY be combined into single card once I decide on actual list layout. Easily. --}}
{{#link-to route resource}}
    {{marvel-image size=cardSize shape=cardShape path=image.path extension=image.extension}}
    <h2>{{title}}</h2>
{{/link-to}}