{{!-- Can DEFINITELY be combined into single card once I decide on actual list layout. Easily. --}}
{{#link-to route resource}}
    <img src="{{image.cardLarge}}" alt="">
    <h2>{{title}}</h2>
{{/link-to}}