body {
    background-color: #1f1f1f;
    color: #cacaca;
    margin: 0;
    padding: 0;
}

header {
    .container {
        margin: 0 auto;
    }
}

h1,h2,h3,h4,h5,h6 {
    color: #fff;
}

btn {
   background-color: #f0141e;
   color: #fff;
}

a {
    color: #b5b5b5;
}