<section class="header">
    <h1>{{model.name}}</h1>
</section>
<section class="comic-detail resource">
    <img src="{{model.thumbnail.cardLarge}}" alt="">
    <p class="description">
        {{{model.description}}}
    </p>
</section>