<section class="header">
    <h1>Comics</h1>
    <div class="filter-bar">
        {{input class="search" placeholder="Search Comics" value=q}}
    </div>
</section>
<section class="comics">
    {{#each model as |comic|}}
        {{comic-card comic=comic}}
    {{/each}}
</section>
