<header class="app-header">
    <nav class="main-nav">
        {{#link-to "characters.index"}}
            Characters
        {{/link-to}}
        {{#link-to "stories.index"}}
            Stories
        {{/link-to}}
        {{#link-to "events.index"}}
            Events
        {{/link-to}}
    </nav>
</header>
<section class="main-content">
    {{outlet}}
</section>
